*.elf
/.vs/drone_project/v16/.suo
/.vs/drone_project/v16/Browse.VC.db
/.vs/drone_project/v16/Browse.VC.db-shm
/.vs/drone_project/v16/Browse.VC.db-wal
/.vs/drone_project/v16/Browse.VC.opendb
/.vs/drone_project/v16/ipch/AutoPCH/12bef7d219bd4e86/GPS_READ.ipch
/.vs/drone_project/v16/ipch/AutoPCH/19aece52be46027/ANGLES.ipch
/.vs/drone_project/v16/ipch/AutoPCH/1df90faf13f47de1/LEDS.ipch
/.vs/drone_project/v16/ipch/AutoPCH/2daa83ed2d0ed8fc/GPS_READ.ipch
/.vs/drone_project/v16/ipch/AutoPCH/34dde41777d675e2/MAIN.ipch
/.vs/drone_project/v16/ipch/AutoPCH/61a656e892362f22/I2C_MASTER.ipch
/.vs/drone_project/v16/ipch/AutoPCH/78b5ea0d87f56b1c/MAIN.ipch
/.vs/drone_project/v16/ipch/AutoPCH/857941da07920874/MPU6050.ipch
/.vs/drone_project/v16/ipch/AutoPCH/878093f4dcd29f21/MAIN.ipch
/.vs/drone_project/v16/ipch/AutoPCH/f9a2e9d6bc00cdff/THREAD_2.ipch
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
